.btn-primary{
    background: $primary-light;
    text-decoration: none;
    color:white;
    padding:1% 12%;
    text-transform: uppercase;
    font-weight: 300;
    font-size:1.8rem;
    display: inline-block;
}

.container{
    width:2008px;
    max-width: 100%;
    box-sizing: border-box;
    padding:0px 15px;
    margin:0 auto;

    @include desktop{
        max-width: 80%;
        padding:0px;
    }
}

.section{
    padding:30px 0px;

    @include desktop{
        padding:120px 0px;
    }
}